// Place all the styles related to the console controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.console-wrapper {
  padding: 50px 20px 0 0;
  width: 50%;
}

.button:hover {
  cursor: pointer
}

.query-row {
  margin-bottom: 20px;
}

.input-calendar {
  font-family: 'Pontano Sans', sans-serif;
  position: relative;
}

.input-calendar-wrapper {
  position: absolute;
  top: 15px;
  left: 140px;
  padding: 5px 12px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  box-shadow: 0 0 9px 5px rgba(0,0,0,0.05);
  background-color: #fff;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-calendar .input-calendar-field {
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  padding: 2px 8px;
}

.input-calendar .input-calendar-field:focus {
  outline: none;
  border: 1px solid #f39c12;
}

.input-calendar .calendar-icon {
  display: inline-block;
  padding: 0px 1px 0 5px;
  height: 27px;
  line-height: 27px;
  transform: translateY(4px);
  cursor: pointer;
}

.input-calendar .days,
.input-calendar .months,
.input-calendar .years {
  width: 189px;
  padding-bottom: 2px;
}

.input-calendar .cell {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-calendar .cell:hover {
  color: #f39c12;
  border: 1px solid #f39c12;
  border-radius: 4px;
}

.input-calendar .cell.current {
  background: #f39c12;
  color: #fff;
  border-radius: 4px;
  opacity: .8;
}

.input-calendar .day {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.input-calendar .day.prev,
.input-calendar .day.next {
  opacity: .4;
}

.input-calendar .month {
  width: 58px;
  height: 38px;
  line-height: 38px;
}

.input-calendar .year {
  width: 58px;
  height: 38px;
  line-height: 38px;
}

.input-calendar .days-title .cell {
  height: 25px;
  line-height: 28px;
  opacity: 0.5;
  cursor: default;
}

.input-calendar .days-title .cell:hover {
  color: #000;
  border: 1px solid #fff;
}

.input-calendar .navigation-title {
  width: 100px;
  display: inline-block;
  cursor: pointer;
}

.input-calendar .years-view .navigation-title {
  cursor: default;
}

.input-calendar .years-view .navigation-title:hover {
  color: #000;
}

.input-calendar .navigation-title:hover {
  color: #f39c12;
}

.input-calendar .icon-wrapper {
  cursor: pointer;
}

.input-calendar .icon:hover,
.input-calendar .today-btn:hover,
.input-calendar .icon-wrapper:hover {
  color: #f39c12;
}

.input-calendar .icon {
  cursor: pointer;
  width: 20px;
}

.input-calendar .today-btn {
  cursor: pointer;
}

.input-calendar .cell.day.today {
  position: relative;
}

.input-calendar .cell.day.today:after {
  content: '.';
  position: absolute;
  bottom: 15px;
  font-size: 20px;
  color: #F39C12;
}

select {
  padding: 5px;
  height:30px;
  line-height:30px;
  background:#f4f4f4;
}

.model-select {
  font-size: 18px;
  margin: 10px;
}

select.query-select {
  width: 120px;
}

.submit-button {
  width: 82%;
  text-align: center;
  display: inherit;
}

.submit-button:hover {
  cursor: pointer;
}

.remove-filter {
  color: #fff;
  margin: 8px 5px 0 0;
  cursor: pointer;
}

.remove-filter:hover {
  color: #ff1a1a;
}

.filter-subitem {
  display:inline-block;
  margin-right: 5px;

  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  vertical-align: top;
  color: #000;
  font-size: 14px;
}

.wide-operator {
  display: inline-block;
  flex-grow: 100;
}

.input-calendar {
  display: inline-block;
  flex-grow: 50;
  white-space: nowrap;
}

.filter-input {
  display: inline-block;
  flex-grow: 50;
}

.filter-date > .input-calendar > .Time,
.filter-date > .input-calendar > .DateTime {
  padding-left: 5px;
  height: 30px;
  width: 88%;
  border: none;
  outline: none;
  border-radius: 5px;
  vertical-align: top;
  color: #000;
  font-size: 14px;
}

.filter-date > .input-calendar > .fa-calendar {
  color: white;
}

.filter-item {
  display: flex;
  margin: 5px 0px 5px 5px;
}

.filter-wrapper {
  background-color: #4d4d4d;
  position: absolute;
  width: 470px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,1);
}

.filter-list {
  margin: 10px;
}

.filter-button {
  margin: 0 5px 10px 5px;

  height: 30px;
  line-height: 28px;
  outline: 0;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  min-width: 140px;
  padding: 0 16px;
  font-size: 14px;

  border: 1px solid #fff;
  background: #4d4d4d;
  color: #fff;

  &:hover {
    background-color: #222;
    border: 1px solid #222;
    color: white;
  }
}

.filter-button.disabled {
  border: 1px solid #888;
  background: #4d4d4d;
  color: #888;
}

.filter-button-wrapper {
  margin-left: 7px;
}

.invisible-layer {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
