/* Table styles */

.table-container {
  padding-top: 15px;
  z-index: 999;
}

.table-header {
  // position: fixed;
  width: 100%;
  padding-right: 10px;
}

span.key-type {
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #777;
  margin-left: 5px;
}

.header {
  width: 100%;
  border-bottom: 1px solid #aaa;
}

.model-name {
  margin: 0 0 5px 0;
  display: inline;
}

nav.pagination {
  margin: 5px 0 0 0;
}

.non-object-cell:hover {
  cursor: pointer;
}

.image-link {
  color: #428bca;
}

.image-link:hover {
  text-decoration: underline;
}

span:hover + .image-box,.image-box:hover{
  display: block;
  position: absolute;
  z-index: 100;
}

thead th {
  font-weight: 100;
}

td {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
}
