<!DOCTYPE html>
<html>
    <head>
        <title>Rails React App</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <%= react_component('app.App') %>
    </body>
</html>
